body{
    display: flex;
    justify-content: center;
    background-image: url(./assets/images/background.jpg);
}
#boite-jeu{
    border: 2px solid #000;
    margin-top: 5rem;
    width: 50vw;
    height: 50vh;
}