body{
    display: flex;
    justify-content: center;
    background-image: url(../images/background.jpg);
}
#boite-jeu{
    margin-top: 5rem;
    width: 50vw;
    height: 50vh;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(255, 255, 255, 0.54);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
#zone-biscuit{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#zone-achat{
    padding: 10px;
    margin-right: 10px;
}
.boutons{
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 1fr 4fr;
    cursor: pointer;
}
#biscuit{
    cursor: pointer;
}